<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Projet SIO1</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.0.js"
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
</head>
<body>
<h1>Mastermind !</h1>

<div class="col-md-12 row">
    <div class="col-md-8">
        <table class="table">
            <thead>
            <td>Bille 1</td>
            <td>Bille 2</td>
            <td>Bille 3</td>
            <td>Bille 4</td>
            <td>Réponse</td>
            </thead>
            <tbody>
            <!-- SOLUTION -->
            <tr>
                <!-- On affecte à chaque bille la couleur définie dans la solution -->
                <td><span class="dot" th:style="|background-color:${solution.getBall1()}|"></span></td>
                <td><span class="dot" th:style="|background-color:${solution.getBall2()}|"></span></td>
                <td><span class="dot" th:style="|background-color:${solution.getBall3()}|"></span></td>
                <td><span class="dot" th:style="|background-color:${solution.getBall4()}|"></span></td>
            </tr>
            <!-- On créé un for qui possède une variable i et qui va de 1 à 12 -->
            <!-- nbTests est la variable que nous récupérons depuis le controller -->
            <th:block th:each="i : ${#numbers.sequence( 1, nbTests)}">
                <tr>
                    <!-- Pour chaque ligne, j'affiche 4 billes -->
                    <th:block th:each="j : ${#numbers.sequence( 1, 4)}">
                        <!-- On utilise Thymeleaf pour générer l'id donc th:id=...-->
                        <!-- On rajoute des | (pipes) pour indiquer à Thymeleaf de l'interpréter de manière litérale -->
                        <td><div ondrop="drop(event)" ondragstart="dragPions(event)" draggable="true" ondragover="allowDrop(event)" th:id="|${i}-${j}|" class="dot"><!--onclick="chooseColor(id);--></div></td>
                    </th:block>
                    <td>
                        <button th:id="|${i}|" onclick="testSolution(id)">OK ?</button>
                        <span th:id="|${i}|+'-rep'"></span>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
    <div class="col-md-4">
        <h3>Pions disponibles</h3>
        <p>Utilisez les pions ci-dessous pour proposer une solution :</p>
        <th:block th:each="color : ${colors}">
            <td><span ondrop="drop(event)" ondragover="allowDrop(event)" ondragstart="drag(event)" class="dot" draggable="true" th:style="|background-color:${color.getRgbColor()}|"></span></td>
        </th:block>
    </div>
</div>
<script>
    function testSolution(idSelected) {
        //Je crée les données à envoyer
        //Un objet sous format JSON => {"clef":"valeur", "clef1":"valeur1"}
        //{"ball1":"rgb(255, 0, 0)", "ball2":"rgb(255, 0, 0)", "ball3":"rgb(0, 0, 255)", "ball4":"rgb(0, 0, 255)"}
        let data = {
            "ball1": $('#' + idSelected + '-1').css('background-color'),
            "ball2": $('#' + idSelected + '-2').css('background-color'),
            "ball3": $('#' + idSelected + '-3').css('background-color'),
            "ball4": $('#' + idSelected + '-4').css('background-color')
        };
        console.log(data);
        //A l'aide d'AJAX, je vais effectuer la requête pour vérifier la ligne
        $.ajax({
            type: "POST", //On utilise la méthode POST
            url: "/testSolution", //URL à appeler
            contentType: 'application/json', //format d'envoi des données
            dataType: "json",
            data: JSON.stringify(data), //Données sous format chaine de caractères (strignify)
            success: function (data, status) {
                //Si la requête est ok
                console.log(data);
                $('#' + idSelected + '-btn').css("display", "none");
                if (data.end != undefined) {
                    alert(data.end);
                } else {
                    $('#' + idSelected).css("display", "none");
                    /* if transparent, ne pas afficher la bille*/
                    $('#' + idSelected + '-rep').append(
                        '<span class="dot" style="background-color:'+data.ball1+'"></span>' +
                        '<span class="dot" style="background-color:'+data.ball2+'"></span><br/>'+
                        '<span class = "dot" style ="background-color:'+data.ball3+'" ></span>' +
                        '<span class="dot" style="background-color:'+data.ball4+'"></span>'
                    );
                }
            },
            error: function (status) {
                //Si la requête n'a pas fonctionné
                console.log("fail");
            }
        });
    }


    /*DRAG AND DROP*/
    function allowDrop(ev) {
        ev.preventDefault();
        console.log(ev);
    }

    function drag(ev) {
        ev.dataTransfer.setData("backgroundColor", ev.target.style.backgroundColor);
    }

    function dragPions(ev) {
        ev.dataTransfer.setData("backgroundColor", ev.target.style.backgroundColor);
        ev.target.style.backgroundColor = "rgb(187,187,187)";
    }

    function drop(ev) {
        ev.preventDefault();
        var data = ev.dataTransfer.getData("backgroundColor");
        ev.target.style.backgroundColor = data;
    }

</script>

<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>
</body>
</html>